@import url("https://fonts.googleapis.com/css?family=Thasadith");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Exo");
@import url("https://afeld.github.io/emoji-css/emoji.css");

body
{
	margin:0;
	padding:0;
}

div.container_e
{
	min-height:100vh;
	background:linear-gradient(to top right,dodgerblue, #19D3C9);
	background-size:cover;
	display:flex;
	justify-content: center;
	align-items: center;
}

a
{
	outline:0;
}

p
{
	margin:0;
	color:#fff;
}

div.citybody
{
	position:relative;
	width:750px;
	background:rgba(0,0,0,0.28);
	display:flex;
	padding:70px 20px 30px 20px;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
}


div.citybody button
{
	position:absolute;
	top:21px;
	left:613px;
	padding:6px 4px;
	margin-right:10px;
	color:#fff;
	border:1px solid #CCCCCC;
	font-size:0.9em;
	cursor:pointer; 	
	border: 1px solid #A0522D;
	background:#A0522D;
}


div.citybody div.weather
{
	width:190px;
	height:130px;
	border:1px solid #CCCCCC;
	margin:0 20px 20px 0;
	padding:12.5px 0;
	box-sizing: border-box;
}

div.weather a
{
	width:100%;
	text-align: center;
	text-decoration:none;
}

div.citybody div:last-child
{
	display:none;
}


div.weather p.city
{
	font-family: 'Quicksand', sans-serif;
	font-size:1em;
}

div.weather img
{
	position:relative;
	left:calc((100% - 40px)/2);
}

div.weather img + p
{
	font-family:'Quicksand', sans-serif;
	transform:translateY(-5px);
	font-size:0.9em;
}

div.weather p.temp
{
	transform:translateY(5px);
	font-family:'Exo', sans-serif;
}

div.errormsg
{
	padding:10vh 0 20vh 0;
	text-align:center;
	font-family:'Quicksand',sans-serif;
}

div.errormsg i.em-anguished
{
	font-size:4em;
	margin-bottom:20px;
}

div.errormsg p
{
	font-size:1.3em;
	line-height:1.7;
}



/*RESPONSIVE CSS STYLES*/

@media(max-width:777px)
{
	div.citybody
	{
		margin:7vh auto;
		width:500px;
	}

	div.citybody button
	{
		left:384px;
	}

	div.citybody div:last-child
	{
		display:block;
	}
}




@media(max-width:520px)
{

	div.citybody
	{
		width:320px;
	}

	div.citybody button
	{
		left:198px;
	}

	div.citybody div.weather
	{
		margin-right:0;
	}
}



/*LOADER CSS STYLES*/

.lds-ring {
  display:block; 
  position: absolute;
  top:17px;
  left:calc((100% - 64px)/2);
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 33px;
  height: 33px;
  margin: 6px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
